<div id="admin_menu">
  <ul>
    <li><a href="/admin/users"><h3>Användare</h3></a></li>
    <li><a href="/admin/issues"><h3>Ärenden</h3></a></li>
    <li style="text-decoration: underline"><h3>Vanliga Problem</h3></li>
  </ul>
</div>