<div id="user_menu">
  <table><tr>
    <td style="text-decoration: underline"><a href="/user/issues"><h3>Mina ärenden</h3></a></td>
    <td><a href="/user/knowledgebase"><h3>Vanliga Problem</h3></a></td>
  </tr></table>
</div>

  <form action="/issue/create" method="post" class="create" id="create_issue_form" enctype="multipart/form-data">
    <div class="group">
      <input type="text" class="custom_input" name="title"><span class="highlight"></span><span class="bar"></span>
      <label class="custom_label">Titel</label>
    </div>
    <% for category in @categories %>
    <label for="<%= category.name %>" class="mdl-radio mdl-js-radio">
      <input type="radio" id="<%= category.name %>" name="category" value="<%= category.id %>" class="mdl-radio__button">
      <span class="mdl-radio__label"><%= category.name %></span>
    </label>
    <% end %>

    <div id="create_issue_message">
      <h5>Ditt problem kan redan vara löst, <a href="/user/knowledgebase">titta i vanliga problem</a></h5>
    </div>

    <label for="switch1" class="mdl-switch mdl-js-switch mdl-js-ripple-effect" style="margin-top: 30px">
      <input type="checkbox" id="switch1" class="mdl-switch__input" value="set" name="notification" checked>
      <span class="mdl-switch__label"´checked>Avisering På/Av</span>
    </label>

    <div class="group">
      <input type="text" class="custom_input"><span class="highlight"></span><span class="bar"></span>
      <label class="custom_label">Alternativ E-mail för avisering</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input" type="text" rows= "10" cols="100" name="issue_text" ></textarea>
      <label class="mdl-textfield__label" for="sample5">Beskrivning av felet</label>
    </div>

    <div class="group"><input type="file" name="attachments[]" multiple></div>


    <button type="submit" class="custom_button buttonBlue">Skicka
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>

  </form>
