<div id="user_menu">
  <ul>
    <li><a href="/user/issues"><h3>Ärenden</h3></a></li>
    <li style="text-decoration: underline"><h3>Vanliga Problem</h3></li>
  </ul>
</div>

<div id="back_button">
  <a href="/user/knowledgebase"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
    <i class="material-icons">arrow_back</i>
  </button></a>
</div>


<div class="mdl-card">
  <div class="mdl-card__title">
    <h2><%= @article.title %></h2>
  </div>
    <div id="article_categories" class="mdl-card__title-text">
      Kategori:
      <% for category in @article.categories %>
        <%= category.name %>
      <% end %>
    </div>
    <div class="mdl-card__supporting-text">
      <span><%= @article.text %></span>
    </div>
    <div class="mdl-card__media">

      <% @attachments = ArticleAttachment.all(:article_id => @article.id) %>
      <% for attachment in @attachments do %>
          <img src="<%= attachment.path %>" alt="Bild här">
      <% end %>
    </div>
</div>