<div id="user_menu">
  <table><tr>
    <td><a href="/user/issues"><h3>Mina ärenden</h3></a></td>
    <td style="text-decoration: underline"><a href="/user/knowledgebase"><h3>Vanliga Problem</h3></a></td>
  </tr></table>
</div>

<div id="back_button">
  <a href="/user/issues"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
    <i class="material-icons">arrow_back</i>
  </button></a>
</div>


<div class="mdl-card">
  <div class="mdl-card__title">
    <h2><%= @article.title %></h2>
  </div>
    <div class="mdl-card__title-text">
      <% @article_categories = Category.all(:article_categories_id => @article.id) %>
      <span>
        <% for category in @article_categories do %>
            <%= category.name %>
        <% end %>
      </span>
    </div>
    <div class="mdl-card__supporting-text">
      <span><%= @article.text %></span>
    </div>
    <div class="mdl-card__media">

      <% @attachments = ArticleAttachment.all(:article_id => @article.id) %>
      <% for attachment in @attachments do %>
          <img src="<%= attachment.path %>" alt="Bild här">
      <% end %>
    </div>
</div>