<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Helpdesk ITG</title>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">

  <link rel="stylesheet" href="/css/mdl/material.min.css">
  <script src="/css/mdl/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script src="jquery-1.12.0.min.js"></script>

</head>
<body>
<div id="header">

  <img src="/img/itglogo.png" alt="ITG Logo">
  <p>Inloggad som *user*</p>
</div>
  <%= yield %>
</body>
</html>