<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Helpdesk ITG</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- load MUI -->
  <link href="//cdn.muicss.com/mui-0.5.7/css/mui.min.css" rel="stylesheet" type="text/css" />
  <script src="//cdn.muicss.com/mui-0.5.7/js/mui.min.js"></script>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-red.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <script src="/js/jquery-1.12.3.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/script.js">
  </script>

  <link rel="stylesheet" type="text/css" href="/css/layout.css">


</head>
<body>
<div id="header">
  <% if @user %>
      <img src="/img/itglogo.png" alt="ITG Logo">
      <span><h6>Inloggad som <%= @user.fname %> <%= @user.lname %></h6><form action="/logout" method="post"><button type="submit">Logga ut</button></form></span>
  <% else %>
      <img src="/img/itglogo.png" alt="ITG Logo">
      <p>Ej inloggad</p>
  <% end %>
</div>
  <%= yield %>
</body>
</html>

