<div id="login">
  <div class="login_text">
    <h3>Välkommen till ITGGOTs Helpdesk</h3>
  </div>
<div class="login_text" id="login_header">
  <h5>Vill du logga in?</h5>
</div>
<form action="/login" method="post" class="create" >
  <div class="group">
    <input type="email" class="custom_input" name="email" placeholder="Email" ><span class="highlight"></span><span class="bar"></span>
  </div>
  <div class="group">
    <input type="password" class="custom_input" name="password" placeholder="Lösenord"><span class="highlight"></span><span class="bar"></span>
  </div>
  <button type="submit" class="custom_button buttonBlue">Logga in
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
</div>

<div class="login_text" id="login_footer">
  <a href="user/knowledgebase"><h5>Eller titta på vanliga problem?</h5></a>
</div>
<% if flash[:no_login] %>
    <div class="flash" id="no_login">
      <h2>Fel användarnamn eller lösenord</h2>
    </div>
<% end %>

<% if flash[:not_logged_in] %>
    <div class="flash" id="not_logged_in">
      <h2>Du måste vara inloggad för att komma åt sidan</h2>
    </div>

<% end %>