<div id="login">
<div id="login_header">
  <h3>Välkommen till ITGGOTs helpdesk</h3>
</div>
<form action="/login" method="post" class="create" >
  <div class="group">
    <input type="email" class="custom_input" name="email" placeholder="Email" ><span class="highlight"></span><span class="bar"></span>
  </div>
  <div class="group">
    <input type="password" class="custom_input" name="password" placeholder="Lösenord"><span class="highlight"></span><span class="bar"></span>
  </div>
  <button type="submit" class="custom_button buttonBlue">Logga in
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
</div>

<% if flash[:no_login] %>
    <div id="no_login">
      <h2>Fel användarnamn eller lösenord</h2>
    </div>
<% end %>