<div id="login">
<div id="login_header">
  <h1>Välkommen till ITGGOTs helpdesk</h1>
</div>
<form action="/login" method="post" class="create" >
  <div class="group">
    <input type="email" class="custom_input" name="email" ><span class="highlight"></span><span class="bar"></span>
    <label class="custom_label" for="text">Email</label>
  </div>
  <div class="group">
    <input type="password" class="custom_input" name="password"><span class="highlight"></span><span class="bar"></span>
    <label class="custom_label" for="text">Password</label>
  </div>
  <button type="submit" class="custom_button buttonBlue">Logga in
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
</div>