<h1>Välkommen till ITGGOTs helpdesk</h1>
<div>
<form action="/login" method="post">
  <input type="text" name="email" placeholder="Din E-mail">
  <br>
  <input type="text" name="password" placeholder="Ditt lösenord">
  <br>
  <button type="submit">Logga in</button>
</form>
</div>