<div id="user_menu">
  <ul>
    <li style="text-decoration: underline"><a href="/user/issues"><h3>Ärenden</h3></a></li>
    <li><a href="/user/knowledgebase"><h3>Vanliga Problem</h3></a></li>
  </ul>
</div>

<form action="/issue/<%= @issue.id %>/update" method="post" class="create" id="update_issue" enctype="multipart/form-data">
  <h3>Uppdatera <%= @issue.title %></h3>
  <div class="mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text" rows= "10" cols="100" name="update_text" ></textarea>
    <label class="mdl-textfield__label" for="sample5">Ytterligare beskrivning av felet</label>
  </div>

  <div class="group"><input type="file" name="attachments[]" multiple></div>

  <button type="submit" class="custom_button buttonBlue">Skicka
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>